{% load i18n static %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% if not is_popup and is_nav_sidebar_enabled %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container" class="bg-bgDark">
    {% if not is_popup %}
        <!-- Header -->
        {% block header %}
            <div class="relative bg-primaryDark overflow-hidden">
                <div class="relative pt-6 pb-16 sm:pb-6">
                    <div>
                        <div class="max-w-7xl mx-auto px-4 sm:px-6">
                            <nav
                                    class="relative flex items-center justify-between sm:h-10 md:justify-center"
                                    aria-label="Global"
                            >
                                <div
                                        class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0"
                                >
                                    <div class="flex items-center justify-between w-full md:w-auto">
                                        <a href="#">
                                            <span class="sr-only">Workflow</span>
                                            <img
                                                    class="h-8 w-auto sm:h-10"
                                                    src="https://res.cloudinary.com/iamalmiir/image/upload/v1654999279/logoLarge_v9hemr.png"
                                                    alt=""
                                            />
                                        </a>
                                        <div class="-mr-2 flex items-center md:hidden">
                                            <button
                                                    type="button"
                                                    class="bg-gray-50 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                                                    aria-expanded="false"
                                            >
                                                <span class="sr-only">Open main menu</span>
                                                <!-- Heroicon name: outline/menu -->
                                                <svg
                                                        class="h-6 w-6"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        stroke-width="2"
                                                        stroke="currentColor"
                                                        aria-hidden="true"
                                                >
                                                    <path
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            d="M4 6h16M4 12h16M4 18h16"
                                                    />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% block usertools %}
                                    {% if has_permission %}
                                        {% block userlinks %}
                                            <div class="md:flex md:space-x-10">
                                                {% if site_url %}
                                                    <a
                                                            href="{{ site_url }}"
                                                            class="font-medium text-white hover:text-gray-900"
                                                    >{% translate 'View site' %}</a
                                                    >
                                                {% endif %}
                                                {% if user.is_active and user.is_staff %}
                                                    {% url 'django-admindocs-docroot' as docsroot %}
                                                    {% if docsroot %}
                                                        <a
                                                                href="{{ docsroot }}"
                                                                class="font-medium text-gray-500 hover:text-gray-900-900"
                                                        >{% translate 'Documentation' %}</a
                                                        >
                                                    {% endif %}
                                                {% endif %}
                                                {% if user.has_usable_password %}
                                                    <a
                                                            href="{% url 'admin:password_change' %}"
                                                            class="font-medium text-gray-500 hover:text-gray-900"
                                                    >{% translate 'Change password' %}</a
                                                    >
                                                {% endif %}
                                            </div>
                                            <div class="md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
            <span class="inline-flex rounded-md shadow">
              <a href="{% url 'admin:logout' %}"
                 class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-purple-700 hover:bg-purple-900">{% translate 'Log out' %}</a>
            </span>
                                            </div>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            </nav>
                        </div>

                        <!--
                        Mobile menu, show/hide based on menu open state.

                        Entering: "duration-150 ease-out"
                          From: "opacity-0 scale-95"
                          To: "opacity-100 scale-100"
                        Leaving: "duration-100 ease-in"
                          From: "opacity-100 scale-100"
                          To: "opacity-0 scale-95"
                      -->
                        <div
                                class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
                        >
                            <div
                                    class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden"
                            >
                                <div class="px-5 pt-4 flex items-center justify-between">
                                    <div>
                                        <img
                                                class="h-8 w-auto"
                                                src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                                                alt=""
                                        />
                                    </div>
                                    <div class="-mr-2">
                                        <button
                                                type="button"
                                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                                        >
                                            <span class="sr-only">Close menu</span>
                                            <!-- Heroicon name: outline/x -->
                                            <svg
                                                    class="h-6 w-6"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke-width="2"
                                                    stroke="currentColor"
                                                    aria-hidden="true"
                                            >
                                                <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        d="M6 18L18 6M6 6l12 12"
                                                />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="px-2 pt-2 pb-3">
                                    <a
                                            href="#"
                                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                                    >Product</a
                                    >

                                    <a
                                            href="#"
                                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                                    >Features</a
                                    >

                                    <a
                                            href="#"
                                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                                    >Marketplace</a
                                    >

                                    <a
                                            href="#"
                                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                                    >Company</a
                                    >
                                </div>
                                <a
                                        href="#"
                                        class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100"
                                >
                                    Log in
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- END Header -->
        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
        {% endblock %}
    {% endif %}

    <div class="main" id="main">
        {% if not is_popup and is_nav_sidebar_enabled %}
            {% block nav-sidebar %}
                {% include "admin/nav_sidebar.html" %}
            {% endblock %}
        {% endif %}
        <div class="content bg-bgDark">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1 class="text-purple-500">{{ title }}</h1>
                {% endif %}{% endblock %}
                {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear">
            </div>
            <!-- END Content -->
            {% block footer %}
                <div id="footer"></div>{% endblock %}
        </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>