{% load i18n static %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% if not is_popup and is_nav_sidebar_enabled %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container" class="bg-bgDark">
    {% if not is_popup %}
        <!-- Header -->
        {% block header %}
            <div class="relative bg-primaryDark overflow-hidden">
                <div class="relative pt-6 pb-16 sm:pb-6">
                    <div>
                        <div class="max-w-7xl mx-auto px-4 sm:px-6">
                            <nav
                                    class="relative flex items-center justify-between sm:h-10 md:justify-center"
                                    aria-label="Global"
                            >
                                <div
                                        class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0"
                                >
                                    <div class="flex items-center justify-between w-full md:w-auto">
                                        <a href="#">
                                            <span class="sr-only">Workflow</span>
                                            <img
                                                    class="h-8 w-auto sm:h-10"
                                                    src="https://res.cloudinary.com/iamalmiir/image/upload/v1654999279/logoLarge_v9hemr.png"
                                                    alt=""
                                            />
                                        </a>
                                    </div>
                                </div>
                                {% block usertools %}
                                    {% if has_permission %}
                                        {% block userlinks %}
                                            <div class="md:flex md:space-x-10">
                                                {% if site_url %}
                                                    <a
                                                            href="{{ site_url }}"
                                                            class="font-medium text-white hover:text-gray-900"
                                                    >{% translate 'View site' %}</a
                                                    >
                                                    /
                                                {% endif %}
                                                {% if user.is_active and user.is_staff %}
                                                    {% url 'django-admindocs-docroot' as docsroot %}
                                                    {% if docsroot %}
                                                        <a
                                                                href="{{ docsroot }}"
                                                                class="font-medium text-gray-500 hover:text-gray-900-900"
                                                        >{% translate 'Documentation' %}</a
                                                        >
                                                        /
                                                    {% endif %}
                                                {% endif %}
                                                {% if user.has_usable_password %}
                                                    <a
                                                            href="{% url 'admin:password_change' %}"
                                                            class="font-medium text-gray-500 hover:text-gray-900"
                                                    >{% translate 'Change password' %}</a
                                                    >
                                                    /
                                                {% endif %}
                                            </div>
                                            <div class="md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
            <span class="inline-flex rounded-md shadow">
              <a href="{% url 'admin:logout' %}"
                 class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-purple-700 hover:bg-purple-900">{% translate 'Log out' %}</a>
            </span>
                                            </div>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- END Header -->
        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
        {% endblock %}
    {% endif %}

    <div class="main" id="main">
        {% if not is_popup and is_nav_sidebar_enabled %}
            {% block nav-sidebar %}
                {% include "admin/nav_sidebar.html" %}
            {% endblock %}
        {% endif %}
        <div class="content bg-bgDark">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1 class="text-purple-500">{{ title }}</h1>
                {% endif %}{% endblock %}
                {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear">
            </div>
            <!-- END Content -->
            {% block footer %}
                <div id="footer"></div>{% endblock %}
        </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>