@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url(../webfonts//Montserrat-Medium.ttf) format('truetype');
}

* {
    font-family: Montserrat, sans-serif;

}
